* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hwb(33 43% 27%);
    color: beige;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0
}

.title {
    text-align: center;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;

}

.title span {
    background: linear-gradient(to right, #a97a03, #f7e3ab, hsl(44, 77%, 50%));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.filter-input {
    max-width: 25vw;
    margin: auto
}

button {
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    justify-self: center;
    border-radius: 5px;
    font-weight: bold;
}

.btn-add,
.btn-clear,
.btn-disp {
    margin: 10px auto
}

.btn-read {
    background-color: #1aa0f9;
}

.btn-update {
    background-color: hsl(48, 84%, 64%);
}

.btn-delete {
    background-color: hsl(33, 92%, 54%);
}

.disp-cards {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}

.disp-table {
    display: table;
    flex-direction: column;
    flex-grow: 1;
    justify-self: center;
    width: 80vw;
    height: 80vh;
    max-width: 80vw;
    margin: auto;
    flex-grow: 1;
    border: 2px solid #a97a03
}

.disp-table thead {
    background-color: #885121;
}

.disp-table tr:nth-child(even) {
    background-color: #885121;
}

.book-details {
    position: relative;
    color: hsl(14, 93%, 11%)
}

.book-details pre {
    font-size: 20px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
}

footer {
    display: flex;
    gap: 40px;
    padding: 15px;
    margin: auto;
    margin-bottom: 0px;
}